.guestpage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.advertisment {
  margin: 10px;
}

.advertisement-left,
.advertisement-right {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.guestview {
  max-width: 1200px;
  flex: 1 1 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
}

.guestview_header {
  background-color: var(--primary-color-opacity);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.guestview_header h1 {
  font-size: 2rem;
  color: var(--text-color);
  letter-spacing: 1px;
}

.guestview_header p {
  color: var(--text-color);
  margin-top: 10px;
}

.guestview_products {
  margin: 20px 0;
}

.guestview_products h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.guestview_products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.guestview_product_card {
  background-color: var(--secondary-color);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 8px;
  flex: 1 1 200px;
  max-width: 300px;
  position: relative;
  transition: transform 0.2s;
}

.guestview_product_card:hover {
  transform: scale(1.05);
}

.guestview_product_card img {
  display: block; /* Center the image */
  margin: 0 auto 15px; /* Center with margin below */
  width: 80%; /* Slightly larger image */
  border-radius: 10px; /* Match border radius with card */
}

.guestview_product_card h3 {
  margin-bottom: 10px;
  font-size: 1.4rem; /* Increased font size for title */
  color: var(--accent-color);
  letter-spacing: 1px;
  font-weight: bold; /* Added font weight for emphasis */
}

.guestview_product_card p {
  color: var(--text-color);
  font-size: 1rem;
  margin: 5px 0; /* Uniform margin for paragraphs */
  line-height: 1.5; /* Improved readability with line height */
}

.guestview_product_card .price {
  font-weight: bold; /* Emphasize price information */
  color: var(--price-color); /* Use a specific color for prices */
}

.guestview_filters {
  margin: 20px 0;
}

.guestview_filters h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 15px;
}

.guestview_filters p:not(.guestview_filter_warning) {
  font-size: 1rem;
  color: var(--text-color);
}

.guestview_filter_button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.guestview_filter_button:hover {
  background-color: var(--accent-color);
}

.guestview_filter_warning {
  color: var(--accent-color);
  margin-top: 10px;
}

.guestview_timer {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 10px;
}

.guestview_timer h2 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 15px;
}

.timer {
  font-size: 2rem; /* Larger font size for visibility */
  font-weight: bold;
  color: var(--highlight-color); /* Highlight color for the timer */
  margin: 10px 0;
}

.guestview_timer p {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 10px;
}

.guestview_signin {
  background-color: var(--primary-color-opacity);
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}

.guestview_signin h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 15px;
}

.guestview_signin p {
  font-size: 1rem;
  color: var(--text-color);
}

.guestview_signin a {
  color: var(--accent-color);
  text-decoration: none;
}

.guestview_signin a:hover {
  text-decoration: underline;
}

.guestview_advertisment {
  margin-top: 10px;
}

.glitch {
  position: relative;
  overflow: hidden;
}

.glitch:before,
.glitch:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("https://as1.ftcdn.net/v2/jpg/03/00/22/98/1000_F_300229895_qBdQgqHijBMLcu4sP6x6V99OkcOlBHjr.jpg")
    repeat;
  background-size: 100%;
  opacity: 0.7;
  animation: noise-anim 0.15s infinite;
  clip-path: inset(0);
}

.glitch:before {
  left: 2px;
  text-shadow: -1px 0 rgba(255, 0, 0, 0.7);
}

.glitch:after {
  left: -2px;
  text-shadow: 1px 0 rgba(0, 255, 0, 0.7);
}

@keyframes noise-anim {
  0% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
  10% {
    transform: translate(-1px, 0.5px) scale(1.02);
    opacity: 0.95;
  }
  20% {
    transform: translate(1px, -0.5px) scale(1.02);
    opacity: 0.95;
  }
  30% {
    transform: translate(0, 1px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

.signup_glitch_overlay_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--accent-color);
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
  background-color: #000000c7;
  border-radius: 8px;
  width: 70%;
  padding: 1rem;
}

.guestview_loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
